:root {
  --clr-pri-sblue: hsl(215, 51%, 70%);
  --clr-pri-cyan: hsl(178, 100%, 50%);
  --clr-sec-bgbod: hsl(217, 54%, 11%);
  --clr-sec-bgcard: hsl(216, 50%, 16%);
  --clr-sec-line: hsl(215, 32%, 27%);
  --clr-sec-white: hsl(0, 0%, 100%);

  --fnt-pri: "Outfit";
  --fnt-wght-300: 300;
  --fnt-wght-400: 400;
  --fnt-wght-600: 600;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--clr-sec-bgbod);
  font-family: var(--fnt-pri);
  font-weight: var(--fnt-wght-300);
  min-height: 100vh;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

.title {
  color: var(--clr-sec-white);
  margin: 1rem 0;
  font-size: 1.125rem;
}

.amount {
  color: var(--clr-pri-cyan);
}

.description,
.days,
.creator-txt {
  color: var(--clr-pri-sblue);
}

.creator-name {
  color: var(--clr-sec-white);
}

.card {
  display: flex;
  padding: 1.5rem;
  max-width: 22rem;
  flex-direction: column;
  background-color: var(--clr-sec-bgcard);
  border-radius: 0.5rem;
}

.img-container {
  position: relative;
}

.main-img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}

.img-icon {
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--clr-pri-cyan);
}

.img-container:hover .img-icon {
  opacity: 0.7;
  transition: 0.3s ease;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  border-bottom: 1px solid var(--clr-sec-line);
}

.amount,
.days,
.creator {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.amount {
  font-weight: var(--fnt-wght-600);
}

.creator {
  font-size: 1rem;
  gap: 1rem;
}

.creator-img {
  height: 2rem;
  border: 1px solid var(--clr-sec-white);
  border-radius: 1rem;
}

.creator-name:hover,
.title:hover {
  cursor: pointer;
  transition: 0.2s ease;
  color: var(--clr-pri-cyan);
}
